<form action="/dealerships/<%= @dealership.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='dealership[name]' value="<%= @dealership.name %>"/><br/>
  <textarea name='dealership[zip]'><%= @dealership.zip %></textarea><br/>
  <input type='submit'/>
</form>