<a href="/dealerships">Dealership Index</a> &nbsp&nbsp&nbsp&nbsp&nbsp <a href="/cars">Car Index</a>

<h1>Welcome to the Cowans Dealership Manager</h1>

<ul>
  <li><a href="/dealerships">Dealership Index</a></li>
  <li><a href="/cars">Car Index</a></li>
</ul>
